
//main: ../style.scss для less чтоб не компелировался


$black:#2b2a2c;
$gray:#6a696b;
$white:#fff;
$gray-l:#8d8d8e;
$box:0 0 6px 0px black;
$greend:#273f43;
$greenl:#51726b;
$pink:#d69ea0;
$colorw:#faf8f8;
$colorrw:rgba(250, 248, 248, 0.70);
$colorrd:rgba(39, 63, 67, 0.70);